<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="TygaAspnetDbConnString" connectionString="Data Source=localhost;Initial Catalog=TygaAspnetDb;User ID=sa;Password=1314" providerName="System.Data.SqlClient"/>
    <add name="SqlProviderConnString" connectionString="Data Source=localhost;Initial Catalog=TygaDb;User ID=sa;Password=1314" providerName="System.Data.SqlClient"/>-->
    <add name="SqlProviderConnString" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=TygaSoftDb" providerName="System.Data.SqlClient"/>
    <add name="TygaAspnetDbConnString" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=TygaAspnetDb" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="WebDAL" value="TygaSoft.SqlServerDAL,TygaSoft.SqlServerDAL"/>

  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IWeixin" />
        <binding name="WSHttpBinding_ISysLog" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:18888/TygaSoft/WeixinService"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWeixin"
          contract="IWeixin" name="WSHttpBinding_IWeixin">
      </endpoint>
      <endpoint address="http://localhost:18888/TygaSoft/Services"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISysLog"
                contract="ISysLog" name="WSHttpBinding_ISysLog">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>