body{
  color: #404040;font-family: 'Microsoft YaHei',Tahoma,SimSun,Arial,Helvetica,sans-serif;
  font-size: 12px;font-style: normal;font-variant: normal;line-height: 150%; letter-spacing:1.1px;
}
a {
  text-decoration: none; color:#404040;
}
a:hover {
 color: #FF0000;
}
.h_ul li {
 float:left;
}
.w {
 width: 1000px;margin: 0 auto;
}
.w300 {
 width: 300px;
}
.sl {
  float: left;_display: inline;width: 200px; overflow:hidden; margin-right:10px;
}
.sr {
  float: left;overflow:hidden; width:790px;
}
.box {
 height:100% auto;
}
.box .h {
 background:#F8DAC2;overflow:hidden;border:1px solid #F8DAC2;
}
.box .c {
 height:100% auto;border:1px solid #F8DAC2;
}
.row {
 height:100% auto; overflow:hidden;
}
.row .rl {
 text-align:right; width:110px; float:left;
}
.row .txt{
 height: 14px;padding:3px;width: 200px;
}
.row .stxt{
 border: 1px solid #95B8E7;height: 16px;padding:3px;width: 70px;
}
.row .ltxt{
 border: 1px solid #BBBBBB;height: 16px;padding: 4px 3px;width: 600px; background:#FFFFFF;
}
.row .txta{
 border: 1px solid #BBBBBB;height: 80px;padding: 4px 3px;width: 600px; background:#FFFFFF;
}
.bg_curr{
 background:#e6e6e6;color:#00438a;
}
.stxt{
 border: 1px solid #BBBBBB;height: 16px;padding: 4px 3px;width: 80px; background:#FFFFFF;
}
.abtn_g {
width: 60px;height: 25px;line-height: 25px;text-align: center;font-size: 14px;color: #A64E06;text-decoration: none;background: url('Images/iconBtn.png') no-repeat -140px -317px;
}
.abtn_f {
 padding:3px; background:#D1703E; border:1px solid #EDCF8F;
 color: #FFFFFF;margin-right: 10px;
}
.bg_cg{
 background:#008000;
}
.bg_cr{
 background:#FF0000;
}
.bg_cy{
 background:#FFFF00;
}
.bg_cg{
 background:#008000;color:#FFFFFF;
}
.bg_a {
background: #E39411;color: #FFFFFF;
}
.bg_aa{
 background:#f7efdf;color:#FFFFFF;
}
.cb{
 background:#FFFFFF;border: 1px solid #95B8E7;
}
#dlgFm .row .txt{
 border: 1px solid #BBBBBB;height: 16px;padding: 4px 3px;width: 293px; background:#FFFFFF;
}
#dlgFm .row .txtarea{
 border: 1px solid #BBBBBB;width: 98%; height: 80px;padding: 4px 3px;background:#FFFFFF;
}

/*header*/

#header .aa {
 background:url('Images/bg_lightgreen.png'); height:100% auto; color:#FFFFFF; padding:10px;
}
#header .aa .aaa {
 font-weight: 700;font-size:24px; height:40px; line-height:40px; text-align:right;
}
#header .aa .aab {
 font-weight:600; text-align:center;font-size:18px; height:30px; line-height:30px; width:310px; float:right;
}
#header .aa .aac {
 font-size:12px; width:342px; float:left; text-align:right; line-height:41px;
}
#header a {
 color:#FFFFFF; 
}

/*footer*/
#footer .aa {
 text-align:center;
}

/*商品、图片横向展现*/
.row_col {
 height:100% auto; float:left; margin-right:10px; border:solid 1px #dddddd; padding:10px; margin-bottom:10px !important;
}
.curr {
 border:solid 1px #FF0000;
}

/*easyui*/
.datagrid-toolbar .txt{
 padding: 0 0 5px 0;
}

.easyui-tree .tree-expanded {
 background-position:-112px 0;
}
.easyui-tree .tree-collapsed {
 background-position:-97px 0;
}
.easyui-tree .tree-file {
 
}
.easyui-tree .tree-folder {
 background-image:none;width:0;
}
.easyui-tree .tree-node {
 
}
#westTree .tree-indent {
 display:none;
}

#westTree .tree-node {
 padding:8px 10px; background:#F5CCAE; color:#562812;
}

.datagrid-cell{
     white-space:normal;word-wrap: break-word;word-break: break-all;
}