<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="BasicHttpBinding_IWebSecurity" />
              <binding name="BasicHttpBinding_ICollectLife" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:18881/Services/CollectLifeSecurityService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWebSecurity" contract="IWebSecurity"
                name="BasicHttpBinding_IWebSecurity" />
            <endpoint address="http://localhost:18881/Services/CollectLifeService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICollectLife"
                contract="ICollectLife" name="BasicHttpBinding_ICollectLife" />
          
        </client>
    </system.serviceModel>
</configuration>