<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <form id="dlgFm" method="post" action="/House/Handlers/HandlerAnnouncement.ashx">
        <div class="row mt10">
            <span class="rl" style="line-height:32px; font-size:14px;"><b class="cr">*</b>标题：</span>
            <div class="fl" style="width:800px;">
                <input type="text" id="txtTitle" name="txtTitle" class="easyui-textbox" data-options="required:true,missingMessage:'必填项'" style="width:100%;height:32px;" />
            </div>
            <span class="clr"></span>
        </div>
        <div class="row mt10">
            <span class="fl rl"><b class="cr">*</b>所属类型：</span>
            <div class="fl">
                <input id="txtParent" class="easyui-combotree" style="width:200px;" />
            </div>
            <div class="clr"></div>
        </div>
        <div class="row mt10">
            <span class="fl rl"><b class="cr">*</b>内容：</span>
            <div class="fl">
                <textarea id="txtContent" name="txtContent" cols="100" rows="8" style="width:800px;height:800px;"></textarea>
            </div>
            <div class="clr"></div>
        </div>
    </form>
    
    <script type="text/javascript">
        var editor_content;
    </script>
</body>
</html>
