<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
   
    <div id="ContentPictureBox" class="pd10">
        <div class="row_col w150" style="display:none;">
            <img src="" alt="" width="150px" height="150px" />
            <input type="hidden" />
        </div>
    </div>
    
    <span class="clr"></span>
    <div id="ContentPicturePager" class="mt10"></div>
    
    <div id="dlgUploadContentPicture" class="easyui-dialog" title="上传文件" data-options="modal:true,closed:true,width:700,height:$(window).height() * 0.9,
        href:'/House/Templates/UploadPicture.htm',
        buttons: [{
            id: 'btnUploadContentPicture',text: '上 传',iconCls: 'icon-ok',
            handler: function () {
                ContentPicture.OnUpload();
            }
        }, {
            id: 'btnCancelContentPicture',text: '取 消',iconCls: 'icon-cancel',
            handler: function () {
                $('#dlgUploadContentPicture').dialog('close');
            }
        }],
        toolbar: [{
            id: 'btnAddContentFile',text: '添 加',iconCls: 'icon-add',
            handler: function () {
                ContentPicture.OnAddFilebox();
            }
        }]
    " style="padding:10px;"></div>
    
    <script type="text/javascript">
        $(function () {
            
        })
    </script>


</body>
</html>
